<div class="pl-2">
    <p>
        This website is a copy of Code Forces, called ForceCodes. Oracle is used as a database and server side is written NodeJS. This website creates a platform for programmers to solve many kinds of problems by arranging contests monthly basis and encourage them to write blogs from their experiences.
    </p>
    
    <p>
        I am Md Sabbir Rahman, a student of BUET, CSE. I made this website for my database course project of level 2 term term 2. Let me know about any bug you find.
    </p>
</div>