<% if(user != null && user.isAdmin) { %>
    <div width="100%" class="mt-1 text-right" >
        <a href="contest/new"> Create New Contest </a>
    </div>
<% } %>

<!-- upcoming contest -->
<div class="card border my-3">
    <div class="card-header my-card-header">
        Upcoming or ongoing contests
    </div>
    <table width="100%" class="table table-sm table-bordered my-card-no-bottom">
        <!-- list header -->
        <tr>
            <th width="29%" class="text-center">Name</th>
            <th width="14%" class="text-center">Admins</th>
            <th width="11%" class="text-center">Start</th>
            <th width="10%" class="text-center">Length</th>
            <th width="14%" class="text-center"></th>
            <th width="28%" class="text-center"></th>
        </tr>
        <tr>
            <td class="my-td-center">
                Contest #1
            </td>
            <td class="my-td-center">
                upobir <br>
            </td>
            <td class="my-td-center">
                10/Nov/2020 20:30
            </td>
            <td class="my-td-center">
                2:00
            </td>
            <td class="my-td-center">
                Before Start <span class="text-muted">3 days</span>
            </td>
            <td class="my-td-center">
                Register (23)
            </td>
        </tr>
    </table>
</div>
<!-- old contests -->
<div class="card border my-3">
    <div class="card-header my-card-header">
        Past Contests
    </div>
    <table width="100%" class="table table-sm table-bordered my-card-no-bottom">
        <!-- list header -->
        <tr>
            <th width="32%" class="text-center">Name</th>
            <th width="15%" class="text-center">Admins</th>
            <th width="30%" class="text-center">Start</th>
            <th width="11%" class="text-center">Length</th>
            <th width="12%" class="text-center">Participants</th>
        </tr>
        <tr>
            <td class="my-td-center">
                Contest #1
            </td>
            <td class="my-td-center">
                upobir <br>
            </td>
            <td class="my-td-center">
                10/Nov/2020 20:30
            </td>
            <td class="my-td-center">
                2:00
            </td>
            <td class="my-td-center">
                23
            </td>
        </tr>
    </table>
</div>