<div class="card border-secondary mb-4">
    <p class="card-text text-center p-2">
        If you have found any bug, please report it via mail.
        <br>
        <a href="mailto:red.abiir@gmail.com?subject=ForceCodes Bug Report" target="_blank">
            mail me
        </a>
    </p>
</div>