<%
    function remainingTime(start_time, duration){
        let rem = new Date(start_time.getTime() + duration * 60 * 1000) - Date.now();
        let hour = Math.floor(rem/1000/60/60);
        let minute = String(Math.floor(rem/1000/60) % 60).padStart(2, '0');
        let second = String(Math.floor(rem/1000) % 60).padStart(2, '0');
        return hour + ':' + minute + ':' + second;
    }
%>

<div class="card border-secondary mb-4">
    <div class="card-header">
        Upcoming Contest
    </div>
    <p class="card-text text-center p-2">
        <a href="/contest/<%= panel.id %>">
            <%= panel.title %>
        </a>
        <br>
        <span class="text-muted">
            <% if(Date.now() < panel.start){ %>
                <%= panel.start.toLocaleString('en-GB') %>
            <% } else { %>
                Running: <%= remainingTime(panel.start, panel.duration) %> left
            <% } %>
        </span>
    </p>
</div>