<div class="my-container container my-1">
    <hr>
    <div class="text-center">Created by Md. Sabbir Rahman</div>
    <div class="text-center">A copy of <a href="https://codeforces.com/#">Codeforces</a></div>
</div>