<a href="/upobir"> <%= user %> </a> | <a href="/logout">log out</a>

<% if(typeof user.messages !== undefined) { %>
    <br>
    <span hidden>
        <a href="/messages"><b>messages(<%= message_count %>)</b></a>
    </span>
<% } %>