# sql draft
sql/test.sql

# vscode files
*.code-workspace

# database connection examples
dbconfig.js
example.js
demodrop.js

# node modules
node_modules

# environment variables
.env

# js testing
draft.js

# public data like images
public/public-images

# stuff to test code
code-testing