<div class="my-container container mb-3">
    <div class="row py-2">
        <div class="col d-flex justify-content-start align-items-center py-1">
            <img src="images/ForceCodes_logo.png"  alt="ForceCodes" class="img-fluid my-logo">
        </div>
        <div class="col d-flex justify-content-end align-items-center my-site-font">
            Login | sign up
        </div>
    </div>

    <div class="card">
        <ul class="list-inline card-body p-2 my-nav my-site-font">
            <li class="list-inline-item mr-2 ml-3">
                <a class="my-nav-link" href="/">Home</a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="my-nav-link" href="/contests">Contests</a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="my-nav-link" href="/problems">Problems</a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="my-nav-link" href="/Users">Users</a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="my-nav-link" href="/About">About</a>
            </li>
        </ul>
    </div>
</div>