<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForceCodes</title>
</head>
<body>
    <div class="header">
        <img src="images/ForceCodes_logo.png" alt="ForceCodes">
    </div>

    <div class="content">
        <p>Welcome to ForceCodes</p>
    </div>

    <div class="footer">
        Created by Md. Sabbir Rahman <br>
        A copy of <a href="https://codeforces.com/#">Codeforces</a>
    </div>
</body>
</html>