<div class="my-container container mb-3">
    <!-- Logo and Prompt -->
    <div class="clearfix py-2 row mx-0">
        <!-- Logo -->
        <div class="ml-0 mr-auto py-2">
            <img src="/images/ForceCodes_logo.png"  alt="ForceCodes" class="img-fluid my-logo">
        </div>
        <!-- Prompt -->
        <div class="ml-auto mr-0 my-auto my-site-font text-right">
            <% if(user === null){ %>
                <%- include('prompts/non-user-prompt') %>
            <% } else { %>
                <%- include('prompts/user-prompt') %>
            <% } %>
        </div>
    </div>

    <!-- nav bar -->
    <div class="card border-secondary">
        <ul class="list-inline card-body p-2 my-card-no-bottom">
            <li class="list-inline-item mr-2 ml-3">
                <a class="my-nav-link" href="/">Home</a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="my-nav-link" href="/contest">Contests</a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="my-nav-link" href="/problem">Problems</a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="my-nav-link" href="/users">Users</a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="my-nav-link" href="/country">Countries</a>
            </li>
            <li class="list-inline-item mx-2">
                <a class="my-nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</div>