*{
    font-family: verdana, arial, sans-serif;
    font-size: 0.8em;
    -webkit-text-size-adjust: none;
}

.my-main-body{
    min-height: 100vh !important;
}

.my-logo{
    height: 8vh;
    width: 16vw
}

.my-nav{
    margin-bottom: 0 !important;
}

.my-container{
    width: 80vw !important;
    max-width : 100vw !important;
}

.my-nav-link{
    color: black !important;
}

.my-message-notification{
    font-weight: bold;
}

.my-logout{
    padding: 0px 0px !important;
    border: none !important;
    margin-bottom: 3px !important;
}

.my-logout:active,.my-logout:focus{
    box-shadow: none !important;
    outline: none !important;
}

.my-logout-form{
    display: inline !important;
}