*{
    font-family: verdana, arial, sans-serif;
    font-size: 0.8em;
    -webkit-text-size-adjust: none;
}

.my-logo{
    height: 8vh;
    width: 16vw
}

.my-nav{
    margin-bottom: 0 !important;
}

.my-container{
    width: 80vw !important;
    max-width : 100vw !important;
}

.my-nav-link{
    color: black !important;
}

.my-message-notification{
    font-weight: bold;
}